.footer{
    background-color: #0116B9;
    max-width: 1453px;
    /*height: 269px;*/
    height: auto;
}
.footer_container{
    width: 100%;
    text-align: center;
}
.globo_container{
    display: inline;
    width: 258px;
    height: 82px;
    padding: 5em;
    padding-right: 1em;
}
.csm_container{
    display: inline;
    width: 279px;
    height: 82px;
    padding: 5em;
}
.rodape_container{
    background-color: #0B2453;
    width: 100%;
    height: auto;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    padding: 2em 0;
}


@media (max-width: 480px) {
    .globo_container,
    .csm_container{
        display: inline;
        width: auto; 
        height: 30px;
        padding: 1em;
    }
}

@media (max-width: 480px) {
    .rodape_container{
        width: auto;
        height: auto;
        font-size: 6px;
    }
}

@media (max-width:768){
    .footer_container{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .globo_container,
    .csm_container{
        display: inline;
        width: auto;
        height: 6em;
        margin: 1em;
        padding: 1em;
    }
}

@media (max-width: 768px) {
    .rodape_container{
        width: auto;
        height: auto;
        font-size: 10px;
    }
}