*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-das-paginas{
    background: #12387E;
    height: 139px;
}

.header-das-paginas img{
    max-width: 100%;
    padding: 43px 0 43px 37px;
}