@import '@fontsource/nunito/400.css';
@import '@fontsource/nunito/700.css';
@import '@fontsource/nunito/800.css';
:root {
  font-family: "Nunito", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #eaeaea;
}

body {
  margin: 0;
  min-width: 320px;
}
